<h1>Colophon</h1>
<div class="row-fluid">
<p>
	The site is an evolution of the PS1 game Kula World (Roll Away in the US, Kula Quest in Japan). It was made
	by Game Design Sweden AB (now known as <%= link_to 'PlayCom', 'http://www.playcom.se/subpage.asp?page=about_us'%>);
	the concept and game design is entirely down to them.
</p>
<p>
	This site only exists because other people wrote some great code. Here's a list of
	things that we depend on:
</p>
<dl>
	<dt><%= link_to 'Ruby on Rails', 'http://rubyonrails.org'%></dt>
	<dd>Making web development a joy for a long time now...</dd>
	<dt><%= link_to 'Three.js', 'https://github.com/mrdoob/three.js'%></dt>
	<dd>A great Javascript 3D library for WebGL or Canvas.</dd>
	<dt><%= link_to 'jQuery', 'http://jquery.org'%></dt>
	<dd>Takes the pain out of manipulating pages in Javascript.</dd>
	<dt><%= link_to 'Bootstrap', 'http://twitter.github.com/bootstrap'%></dt>
	<dd>Twitter's lovely CSS framework. We also use <%= link_to 'boostrap-sass', 'https://github.com/thomas-mcdonald/bootstrap-sass' %> to pull it into Rails.</dd>
	<dt><%= link_to 'Devise', 'https://github.com/plataformatec/devise'%></dt>
	<dd>Simple authentication framework for Rails.</dd>
	<dt><%= link_to 'Omniauth', 'https://github.com/intridea/omniauth'%></dt>
	<dd>Multi-provider authentication framework. We use the <%= link_to 'Twitter', 'https://github.com/arunagw/omniauth-twitter'%> 
		and <%= link_to 'Facebook', 'https://github.com/mkdynamic/omniauth-facebook'%> strategies.</dd>
	<dt><%= link_to 'RailsAdmin', 'https://github.com/sferik/rails_admin'%></dt>
	<dd>Super-easy administration engine for Rails apps.</dd>
	<dt><%= link_to 'High Voltage', 'https://github.com/thoughtbot/high_voltage'%></dt>
	<dd>Static page support for Rails.</dd>
	<dt><%= link_to 'Jasminerice', 'https://github.com/bradphelan/jasminerice'%></dt>
	<dd>Unit testing for Coffeescript code.</dd>
	<dt><%= link_to 'RSpec', 'http://rspec.info'%></dt>
	<dd>... and the same for Ruby.</dd>
</dl>
</div>
