<div class="row-fluid">
  <div class="span11" id='game'>
  </div>
  <div class="span1">
    <p>
		  World: <%= @level.world_num %>
    </p>
    <p>
		  Level: <%= @level.level_num %>
    </p>
    <p>
		  Score: <span id='score'>0</span>
    </p>
    <p>
		  Keys: <span id='keys'></span>
    </p>
    <div id ='log'>
    </div>
  </div>
</div>

<script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
<script>
    
	// Initialise level data
  Level.world = <%= @level.world_num %>;
	Level.addBlocks(<%= @level.blocks.to_json %>);
		
  // Position player
  Player.start_at(<%=@level.start['block'][0]%>, <%=@level.start['block'][1]%>, <%=@level.start['block'][2]%>);
    
	// Load exit
	exit = new Exit();
	exit.surface = "<%= @level.exit['surface'] %>";
	exit.position = new THREE.Vector3(<%= @level.exit['block'][0] %>, <%= @level.exit['block'][1] %>, <%= @level.exit['block'][2] %>);
  Level.entities.push(exit);

	// Load keys
  <% @level.keys.each do |key| %>
  	key = new Key();
  	key.surface = "<%= key['surface'] %>";
  	key.position = new THREE.Vector3(<%= key['block'][0] %>, <%= key['block'][1] %>, <%= key['block'][2] %>);
    Level.entities.push(key);
  <% end %>
  // Update display now entities are loaded
	Level.updateKeyDisplay();

	// Load entities
	<% @level.entities.each do |entity| %>
		new_entity = new <%= entity['type'] %>();
		new_entity.surface = "<%= entity['surface'] %>";
		new_entity.position = new THREE.Vector3(<%= entity['block'][0] %>, <%= entity['block'][1] %>, <%= entity['block'][2] %>);
    Level.entities.push(new_entity);
	<% end %>


  // Set up the engine
  Engine.init();

  // Animation loop
  function animate() {
		requestAnimationFrame(animate);
    Engine.animate();
  }

  // Start animation loop
  animate();

  // Level complete handler
	function levelComplete() {
		if (Level.gotAllKeys() == true) {
		  Utility.log("LEVEL COMPLETE");
		  jQuery.ajax('<%= world_level_scores_path(@world, @level) %>',{
										type: 'POST',
										data: {score: Level.score}
									});
		}
	}



</script>