<div class="row-fluid">
  <div class="span11" id='game'>
  </div>
  <div class="span1">
    <p>
		  World: <%= @level.world_num %>
    </p>
    <p>
		  Level: <%= @level.level_num %>
    </p>
    <p>
		  Score: <span id='score'>0</span>
    </p>
    <p>
		  Keys: <span id='keys'></span>
    </p>
    <div id ='log'>
    </div>
  </div>
</div>

<script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
<script>
    
	// Initialise level data
  Level.world = <%= @level.world_num %>;
	Level.addBlocks(<%= @level.blocks.to_json %>);
		
  // Position player
  Player.start_at(<%=@level.start['position'][0]%>, <%=@level.start['position'][1]%>, <%=@level.start['position'][2]%>);
    
	// Load entities
	<% @level.entities.each do |entity| %>
		new_entity = new <%= entity['type'] %>();
		new_entity.surface = "<%= entity['surface'] %>";
		new_entity.position = new THREE.Vector3(<%= entity['position'][0] %>, <%= entity['position'][1] %>, <%= entity['position'][2] %>);
    Level.entities.push(new_entity);
	<% end %>

  // Update display now entities are loaded
	Level.updateKeyDisplay();

  // Set up the engine
  Engine.init();

  // Animation loop
  function animate() {
		requestAnimationFrame(animate);
    Engine.animate();
  }

  // Start animation loop
  animate();

  // Level complete handler
	function levelComplete() {
		if (Level.gotAllKeys() == true) {
		  Utility.log("LEVEL COMPLETE");
		  jQuery.ajax('<%= world_level_scores_path(@world, @level) %>',{
										type: 'POST',
										data: {score: Level.score}
									});
		}
	}



</script>